* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

:root {
  /*===========
Verificados
===========*/
  --text-color: hsl(133, 41%, 31%);
  --text-login: hsl(133, 41%, 31%);
  --text-white: hsl(0, 0%, 90%);
  --bg-menu: hsl(133, 41%, 31%);
  --bg-menu-hover: hsl(133, 41%, 55%);
  --surface-menu: hsl(133, 41%, 31%);
  --surface-menu-houver: hsl(133, 41%, 55%);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-houver: rgba(135, 106, 106, 0.264);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --squares-color: hsl(132, 46%, 75%);
  --header-a-hover: hsl(133, 41%, 55%);
  --hero-p: hsl(47, 80%, 40%);
  --bg-url: url(../assets/img/bg-desktop-light.jpg);
  --switch-bg-url: url(../assets/img/sun.svg);
}

.light {
  /*===========
Verificados
===========*/
  --text-color: hsl(133, 41%, 31%);
  --text-login: hsl(0, 0%, 100%);
  --text-white: hsl(0, 0%, 90%);
  --bg-menu: hsl(133, 41%, 55%);
  --bg-menu-hover: hsl(133, 41%, 31%);
  --surface-menu: hsl(133, 41%, 55%);
  --surface-menu-houver: hsl(132, 6%, 85%);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-houver: rgba(199, 169, 169, 0.5);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --squares-color: hsl(133, 41%, 31%);
  --header-a-hover: hsl(133, 41%, 31%);
  --hero-p: hsl(47, 80%, 60%);
  --bg-url: url(../assets/img/bg-desktop-dark.jpg);
  --switch-bg-url: url(../assets/img/moon-stars.svg);
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: "Boogaloo", cursive;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  font-size: 1.6rem;
}

header {
  background-color: var(--bg-menu);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  max-width: 980px;

  margin: auto;
}

header img {
  width: 45px;
  margin-left: 20px;
  padding: 15px 0;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 2.4rem;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.15);
}

#switch {
    width: 64px;
    position: relative;
    margin: 4px auto;
  }
  
  #switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.2s;
  }
  
  #switch button:hover {
    outline: 8px solid var(--highlight-color);
  }
  
  .light #switch button {
    animation: slide-in 0.4s forwards;
  }
  
  #switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    --webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
  }

h1 {
  font-size: 5rem;
  letter-spacing: 0.1rem; /*espaçamento entre as letras*/
  color: var(--text-login);
  text-align: center;
  padding: 1.5rem;
}

.chat-container {
  background: var(--bg-menu);
  letter-spacing: 0.1rem; /*espaçamento entre as letras*/
  max-width: 400px;
  margin: 30px auto;
  border: 1px solid #ccc;
  padding: 2.4rem;
  border-radius: 10px;
}
 
.chat-log {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 10px;
}

#user-input {
  width: 70%;
  padding: 5px;
}

#send-button {
  background-color:#007bff; 
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/*=============== 
footer
==================*/
footer {
  font-size: 1.8rem;
  margin: 0px auto 0px;
  padding: 10rem;
  text-align: center;
}

footer p {
  color: var(--text-login);
}