* {
    font-family: "Boogaloo", cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

:root {
    /*===========
  Verificados
  ===========*/
    --text-color: hsl(133, 41%, 31%);
    --text-login: hsl(133, 41%, 31%);
    --text-white: hsl(0, 0%, 90%);
    --bg-menu: hsl(133, 41%, 31%);
    --bg-menu-hover: hsl(133, 41%, 55%);
    --surface-menu: hsl(133, 41%, 31%);
    --surface-menu-houver: hsl(133, 41%, 55%);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-houver: rgba(135, 106, 106, 0.264);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --squares-color: hsl(132, 46%, 75%);
    --header-a-hover: hsl(133, 41%, 55%);
    --hero-p: hsl(47, 80%, 40%);
    --bg-url: url(../assets/img/bg-desktop-light.jpg);
    --switch-bg-url: url(../assets/img/sun.svg);
}

.light {
    /*===========
  Verificados
  ===========*/
    --text-color: hsl(133, 41%, 31%);
    --text-login: hsl(0, 0%, 100%);
    --text-white: hsl(0, 0%, 90%);
    --bg-menu: hsl(133, 41%, 55%);
    --bg-menu-hover: hsl(133, 41%, 31%);
    --surface-menu: hsl(133, 41%, 55%);
    --surface-menu-houver: hsl(132, 6%, 85%);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-houver: rgba(199, 169, 169, 0.5);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --squares-color: hsl(133, 41%, 31%);
    --header-a-hover: hsl(133, 41%, 31%);
    --hero-p: hsl(47, 80%, 60%);
    --bg-url: url(../assets/img/bg-desktop-dark.jpg);
    --switch-bg-url: url(../assets/img/moon-stars.svg);
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
}

html,
body {
    height: 100vh;
    font-family: "Boogaloo", cursive;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    font-size: 1.6rem;
}

header {
    background-color: var(--bg-menu);
    width: 100%;
}

header > .container a {
    font-size: 2rem;
  }
  
  @media screen and (max-width: 990px) {
    header>.container>h1 {
      font-size: 2.6rem;
      margin-left: 0vw;
    }
  }
  
  @media screen and (max-width: 990px) {
    header > .container  a {
      font-size: 1.8rem;
      letter-spacing: none;
      padding: 15px;
    }
  }

header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    
}

header img {
    width: 45px;
    margin-left: 20px;
    padding: 15px 0;
} 

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 2.4rem;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: rgba(255, 255, 255, 0.15);
}

#switch {
  width: 64px;
  position: relative;
  margin-left: 75vw;
  margin-top: 4vw;
}

@media screen and (max-width: 1900px) {
  #switch {
    margin-top: 3vw;
  }
  
}

@media screen and (max-width: 1500px) {
  #switch {
    margin-top: 6vw;
  }
  
}

@media screen and (max-width: 900px) {
  #switch {
    margin-left: 80vw;
    margin-top: 8vw;
  }
  
}

#switch button {
  background-color: var(--bg-botao);
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.2s;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

svg {
  color: var(--bg-light-dark);
    /* stroke: var(--sol-lua); */
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

h1 {
    font-size: 5rem;
    letter-spacing: 0.1rem;/*espaçamento entre as letras*/
    color: var(--text-login);
    text-align: center;
    padding: 1.5rem;
}

h2 {
    font-size: 4rem;
    letter-spacing: 0.3rem; /*espaçamento entre as letras*/
    color: var(--text-login);
    text-align: center;
    margin: 50px auto;
    padding: 1.5rem;
}

h3 {
    color: var(--text-login);
    font-size: 2.8rem;
    line-height: 3.8rem;
    text-align: center;
    padding: 1.5rem;
}

p {
    font-size: 2.5rem;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    color: var(--text-login);
    margin: -15px 20% 0;
}

/*=============== 
footer
==================*/
.form-section footer {
  font-size: 1.8rem;
  margin: 100px auto 0px;
  padding: 1.5rem;
  text-align: center;
  
}


footer p {
    color: var(--text-login);
}