* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Boogaloo", cursive;
}

:root {
  --bg-url: url(./assets/img/bg-desktop-light.jpg);
  --bg-menu: hsl(133, 41%, 31%);
  --text-cabecalho: hsl(0, 0%, 100%);
  --bg-botao: hsl(60, 100%, 50%);
  --bg-light-dark: rgb(255, 0, 0);
  --sol-lua: rgb(255, 0, 0);
  --text-p: hsl(133, 41%, 31%);
  --text-color: hsl(133, 41%, 31%);
  --text-login: hsl(133, 41%, 31%);
  --text-white: hsl(0, 0%, 90%);
  --bg-menu-hover: hsl(133, 41%, 55%);
  --bg-flex: hsl(136, 86%, 81%);
  --surface-menu: hsl(133, 41%, 31%);
  --surface-menu-houver: hsl(133, 41%, 55%);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-houver: rgba(135, 106, 106, 0.264);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --squares-color: hsl(132, 46%, 75%);
  --header-a-hover: hsl(133, 41%, 55%);
  --hero-p: hsl(47, 80%, 40%);
  --bg-flex-img-chat: url(./assets/img/chat_light.png);
  --bg-flex-img-flor: url(./assets/img/flor_light.png);
  --bg-flex-img-ajuda: url(./assets/img/ajuda_light.png);
  --bg-flex-img-presente: url(./assets/img/presente_light.png);
  --bg-flex-img-identifique: url(./assets/img/identifique_light.png);
  --bg-flex-img-evite: url(./assets/img/evite_light.png);
  --bg-flex-img-reduza: url(./assets/img/reduza_light.png);
  --bg-flex-img-compartilhe: url(./assets/img/positivas_light.png);
  --text-family: "Boogaloo", cursive;
}

[data-theme="dark"] {
  --bg-url: url(./assets/img/bg-desktop-dark.jpg);
  --bg-menu: hsl(133, 41%, 55%);
  --text-cabecalho: hsl(0, 0%, 100%);
  --bg-botao: hsl(0, 0%, 100%);
  --highlight-color: rgba(255, 255, 255, 0.595);
  --bg-light-dark: rgb(0, 0, 255);
  --text-p: hsl(132, 46%, 75%);
  --sol-lua:rgb(0, 0, 255);
  --text-color: hsl(133, 41%, 31%);
  --text-login: hsl(0, 0%, 100%);
  --text-white: hsl(0, 0%, 90%);
  --bg-menu-hover: hsl(133, 41%, 31%);
  --bg-flex: hsl(133, 41%, 31%);
  --surface-menu: hsl(133, 41%, 55%);
  --surface-menu-houver: hsl(132, 6%, 85%);
  --squares-color: hsl(133, 41%, 31%);
  --header-a-hover: hsl(133, 41%, 31%);
  --hero-p: hsl(47, 80%, 60%);
  --bg-flex-img-chat: url(./assets/img/chat_dark.png);
  --bg-flex-img-flor: url(./assets/img/flor_dark.png);
  --bg-flex-img-ajuda: url(./assets/img/ajuda_dark.png);
  --bg-flex-img-presente: url(./assets/img/presente_dark.png);
  --bg-flex-img-identifique: url(./assets/img/identifique_dark.png);
  --bg-flex-img-evite: url(./assets/img/evite_dark.png);
  --bg-flex-img-reduza: url(./assets/img/reduza_dark.png);
  --bg-flex-img-compartilhe: url(./assets/img/positivas_dark.png);
  --text-family: "Boogaloo", cursive;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
  background: var(--bg-url) no-repeat top center/cover;
}

html,
body {
  font-family: "Boogaloo", cursive;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

header {
  background-color: var(--bg-menu);
  
}

header > .container > .nav  {
  font-size: 2rem;
}





header .nav ul li a {
  text-decoration: none;
  color: var(--text-cabecalho);
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 5px;
  transition: all 250ms linear 0s;
}

@media screen and (max-width: 990px) {
  header .nav ul li a   {
    font-size: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
}

@media screen and (max-width: 590px) {
  header .nav ul li a   {
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
}

@media screen and (max-width: 590px) {
  header > .container   {
    display: flex;
    margin-left: -15%;
    
  }
}



@media screen and (max-width: 990px) {
  .container > h1 {
    font-size: 2.6rem;
   margin-left: 0;
 }
}

@media screen and (max-width: 590px) {
  .container > h1 {
   font-size: 2rem;
   margin-left: 0;
 }
}





header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  
}

header img {
  width: 45px;
  padding: 15px 0;
}

@media screen and (max-width: 590px) {
  header img {
    width: 35px;
  padding: 10px 0;
   
 }
}



header h1 {
  font-size: 5rem;
  margin: 0.1em;
  letter-spacing: 0.1rem;
  color: var(--text-cabecalho);
  text-align: center;
  padding: 1.5rem;
}

header .nav ul {
  display: flex;
  
}

header .nav ul li {
  list-style: none;
}



header .nav ul li a:hover {
  background: rgba(255, 255, 255, 0.15);
}

#switch {
  width: 64px;
  position: relative;
  margin-left: 75vw;
  margin-top: 4vw;
}

@media screen and (max-width: 1900px) {
  #switch {
    margin-top: 3vw;
  }
  
}

@media screen and (max-width: 1500px) {
  #switch {
    margin-top: 6vw;
  }
  
}

@media screen and (max-width: 900px) {
  #switch {
    margin-left: 80vw;
    margin-top: 8vw;
  }
  
}

#switch button {
  background-color: var(--bg-botao);
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.2s;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

svg {
  color: var(--bg-light-dark);
    /* stroke: var(--sol-lua); */
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

/*=============== 
HERO
==================*/




/*=============== 
Intensidade
==================*/
.humor {
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-top: -30vh;
  margin-bottom: 10vh;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
@media screen and (max-width: 1190px) {
  .humor{
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    display: flex;
  }
   }

   @media screen and (max-width: 590px) {
    .humor{
      margin-top: 4vh;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 350px;
    }
     }

#question {
  font-size: 2.5rem;
  text-align: center;
  justify-content: center;
  color: var(--text-login);
  padding: 1.5rem;
}

@media screen and (max-width: 590px) {
  #question{
    font-size: 1.8rem;
  text-align: center;
  justify-content: center;
  color: var(--text-login);
  padding: 1.5rem;
  }
   }

.intensity-slider {
  text-align: center;
  background-color: white;
  border: 5px solid var(--bg-menu);
  border-radius: 0.5rem;
  padding: 1.5rem;
  max-width: 400px;
  margin: 0px auto 0px;
}

@media screen and (max-width: 590px) {
  .intensity-slider{
    text-align: center;
  background-color: white;
  border: 5px solid var(--bg-menu);
  border-radius: 0.5rem;
  padding: 1.5rem;
  max-width: 300px;
  margin: 0px auto 0px;
  }
   }



/*=============== 
Estilos para o slider
==================*/
input[type="range"] {
  width: 100%;
  height: 20px;
}

label {
  color: var(--text-color);
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  /*espaçamento entre as letras*/
}

#mood-emoji {
  font-size: 5rem;
}

/*=============== 
Estilos para o valor da intensidade 
==================*/
#intensity-value {
  font-size: 1.8rem;
  color: #007bff;
}

/*=============== 
Mensagens
==================*/
/* .mensagens {
  text-align: center;
  font-size: 2.5rem;
  color: var(--text-login);
  padding: 0.8rem;
  letter-spacing: 0.5rem;
} */

#mensage {
  background-color: var(--bg-menu);
  border: 5px solid white;
  padding: 1rem 1rem;
  border-radius: 15px;
  max-width: 310px;
  margin-top: -1vh;
  margin-bottom: 6vh;
  margin-left: 1vh;

}

.iframe {
  width: 28rem;
  height: 24rem;
}

@media screen and (max-width: 1190px) {
  #mensage {
    text-align: center;
    background-color: var(--bg-menu);
    border: 5px solid white;
    padding: 1rem 1rem;
    border-radius: 5%;
    margin-top: 8vh;
    margin-bottom: -2vh;
    margin-left: 21vh;
  }
   }

   @media screen and (max-width: 590px) {
    #mensage {
      text-align: center;
      background-color: var(--bg-menu);
      border: 5px solid white;
      padding: 1rem 1rem;
      border-radius: 5%;
      margin-top: 8vh;
      margin-bottom: -2vh;
      margin-left: 8vh;
    }
     }






/*=============== 
MAIN
==================*/



main > section#flex {
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 10vw;
  margin-top: 3vw;
}

@media screen and (max-width: 1200px) {
  main > section#flex {
    display: flex;
    margin-left: 8vw;
    margin-top: 2vw;
    flex-direction: column;
    font-size: 2rem;
  }

}

main > h2 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  /*espaçamento entre as letras*/
  color: var(--text-login);
  text-align: center;
  margin-top: -2vw;
}
@media screen and (max-width: 990px) {
  main > .saude-mental > h2{
    font-size:  4rem;
    
  }
}


 /*estilo abaixo de dicas para cuidar ... */

 main > #flex > .chat > .flex-container-chat >
.flex-item-chat > p {
  font-size: 2.1rem;

 }

 @media screen and (max-width: 990px) {
  main > #flex > .chat > .flex-container-chat >
.flex-item-chat > p {
  font-size: 2.1rem;
}
  
 }

 main > #flex > .chat > .flex-container-chat >
.flex-item-chat > h2 {
  font-size: 4rem;

 }

 @media screen and (max-width: 990px) {
  main > #flex > .chat > .flex-container-chat >
.flex-item-chat > h2 {
  font-size: 3rem;
 
}
  
 }

 

 main > #flex > .flor > .flex-container-flor > .flex-item-flor >
p {
  font-size: 2.3rem;

 }

 @media screen and (max-width: 990px) {
  main > #flex > .flor > .flex-container-flor >
  .flex-item-flor > p {
    font-size: 2.1;
  }
  
  
 }

 main > #flex > .flor > .flex-container-flor > .flex-item-flor >
 h2 {
   font-size: 4rem;
  }

  @media screen and (max-width: 990px) {
    main > #flex > .flor > .flex-container-flor >
    .flex-item-flor > h2 {
      font-size: 3rem;
    }
  }

  @media screen and (max-width: 590px) {
    main > #flex > .flor >  {
      font-size: 3rem;
    }
  }


main > #flex > .ajuda > .flex-container-ajuda > .flex-item-ajuda
> p {
  font-size: 2.3rem;
}

@media screen and (max-width: 990px) {
  main > #flex > .ajuda > .flex-container-ajuda > .flex-item-ajuda
> p {
    font-size: 2.1;
  }
}

main > #flex > .ajuda > .flex-container-ajuda > .flex-item-ajuda
> h2 {
  font-size: 4rem;
}

@media screen and (max-width: 990px) {
  main > #flex > .ajuda > .flex-container-ajuda > .flex-item-ajuda
> h2 {
  font-size: 3rem;
  }
}



main .saude-mental  {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: var(--hero-p);
  text-align: center;
}

.saude-mental2 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  /*espaçamento entre as letras*/
  color: var(--text-login);
  text-align: center;
  margin-top: -8vw;
}

main .saude-mental p {
  text-align: center;
  color: var(--hero-p);
  font-size: 2rem;
  line-height: 3.2rem;

}

.saude-mental2 > h2{
  font-size: 4rem;
  margin-bottom: 2vw;
}

@media screen and (max-width: 590px) {
  .saude-mental2 > h2 {
    font-size: 2.1rem ;
  }
  
}

#flex-apoio > .presente > .flex-container-presente > 
.flex-item-presente > p {
  font-size: 2.3rem;
}

@media screen and (max-width: 1190px) {
  #flex-apoio > .presente > .flex-container-presente > 
.flex-item-presente > p {
    font-size: 2.1rem ;
  }
  
}

@media screen and (max-width: 590px) {
  #flex-apoio > .presente > .flex-container-presente > 
.flex-item-presente > p {
    font-size: 1.8rem ;
  }
  
}

#flex-apoio > .presente > .flex-container-presente > 
.flex-item-presente > h2 {
  font-size: 4rem;
}

@media screen and (max-width: 1190px) {
  #flex-apoio > .presente > .flex-container-presente > 
.flex-item-presente > h2 {
    font-size: 3rem ;
  }
  
}

@media screen and (max-width: 590px) {
  #flex-apoio > .presente > .flex-container-presente > 
.flex-item-presente > h2 {
    font-size: 2rem ;
  }
  
}

@media screen and (max-width: 1190px) {
  #flex-apoio > .presente > .flex-container-presente {
   
    width: 400px;
  }
  
}

@media screen and (max-width: 590px) {
  #flex-apoio > .presente > .flex-container-presente {
   
    width: 250px;
  }
  
}

@media screen and (max-width: 1190px) {
  #flex-apoio2 > .reduza >
 .flex-container-reduza > .flex-item-reduza {
   
    width: 400px;
    height: 191px;
  }
  
}

@media screen and (max-width: 590px) {
  #flex-apoio2 > .reduza >
 .flex-container-reduza > .flex-item-reduza {
   
    width: 250px;
    height: 191px;
  }
  
}

@media screen and (max-width: 1190px) {
  #flex-apoio2 > .julgamento >
 .flex-container-julgamento > .flex-item-julgamento {
    
    width: 400px;
    
  }
  
}

#flex-apoio > .reconhecer > 
.flex-container-reconhecer > .flex-item-reconhecer > p {
  font-size: 2.2rem;
  
} 

@media screen and (max-width: 1190px) {
  #flex-apoio > .reconhecer > 
.flex-container-reconhecer > .flex-item-reconhecer > p {
  font-size: 2.1rem ;
}
  
}

#flex-apoio > .reconhecer > 
.flex-container-reconhecer > .flex-item-reconhecer > h2 {
  font-size: 4rem;
} 

@media screen and (max-width: 1190px) {
  #flex-apoio > .reconhecer > 
.flex-container-reconhecer > .flex-item-reconhecer > h2 {
  font-size: 3rem ;
}
  
}

@media screen and (max-width: 1190px) {
  #flex-apoio > .reconhecer > 
.flex-container-reconhecer  {
  
  width: 400px;
  
}
  
}

#flex-apoio2 > .julgamento
 > .flex-container-julgamento > .flex-item-julgamento > p {
  font-size: 2.3rem;
  
 }

 @media screen and (max-width: 1190px) {
  #flex-apoio2 > .julgamento
 > .flex-container-julgamento > .flex-item-julgamento > p {
  font-size: 2.1rem ;
}
  
}

 #flex-apoio2 > .julgamento
 > .flex-container-julgamento > .flex-item-julgamento > h2 {
  font-size: 4rem;
 }

 @media screen and (max-width: 1190px) {
  #flex-apoio2 > .julgamento
 > .flex-container-julgamento > .flex-item-julgamento > h2 {
  font-size: 3rem ;
}
}

#flex-apoio2 > .reduza >
 .flex-container-reduza > .flex-item-reduza > p {
  font-size: 2.3rem;
  
 }

 @media screen and (max-width: 1190px) {
  #flex-apoio2 > .reduza >
 .flex-container-reduza > .flex-item-reduza > p {
  font-size: 2.1rem ;
}
}

 #flex-apoio2 > .reduza >
 .flex-container-reduza > .flex-item-reduza > h2 {
  font-size: 4rem;
 }

 @media screen and (max-width: 1190px) {
  #flex-apoio2 > .reduza >
 .flex-container-reduza > .flex-item-reduza > h2 {
  font-size: 3rem ;
}
}


main > .saude-mental {
  font-size: 5rem;
  color: var(--text-login);
  text-align: center;
  margin-top: -4vw;
}

/*=============== 
Cabeçalho de ambos Flex
==================*/
.saude-mental h2 {
  font-size: 5rem;
  padding: 1.5rem;
}

/*=============== 
Flex
==================*/
#flex {
  display: flex;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

@media screen and (max-width: 590px) {
  #flex {
    display: flex;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    gap: 4 rem;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
}

.chat h2,
.flor h2,
.ajuda h2 {
  font-family: var(--text-family);
  font-size: 3.5rem;
  font: bold;
  font-style: italic;
  color: var(--text-login);
  margin: 60px auto 30px;
}

.chat p,
.flor p,
.ajuda p {
  font-family: var(--text-family);
  font-size: 2rem;
  color: var(--hero-p);
  /* color: var(--text-login); */
  font-style: italic;
  margin: -30px auto 0px;
}

.flex-container-chat,
.flex-container-flor,
.flex-container-ajuda {
  width: 45rem;
  height: 13em;
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

@media screen and (max-width: 1190px) {
  .chat{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    margin-top: 4vh;
    
    
    

  }
  
}

@media screen and (max-width: 1190px) {
  .flor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    margin-top: 8vw;
    

  }
  
}

@media screen and (max-width: 1190px) {
  .ajuda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    margin-top: 8vw;
    margin-bottom: 5vw;
    

  }
  
}

.flex-item-chat,
.flex-item-flor,
.flex-item-ajuda {
  background: var(--bg-flex);
  color: var(--bg-flex);
  font-size: 3rem;
  text-align: center;
  border-radius: 15px;
  border: 5px solid rgb(157, 157, 157);
  -webkit-transition: box-shadow .3s, border-color .3s;
  -moz-transition: box-shadow .3s, border-color .3s;
  -o-transition: box-shadow .3s, border-color .3s;
  -ms-transition: box-shadow .3s, border-color .3s;
  transition: box-shadow .3s, border-color .3s;
}

.flex-item-chat {
  background-image: var(--bg-flex-img-chat);
  background-position: 5% 3%;
  background-repeat: no-repeat;
  display: block;
  align-items: center;
}

.flex-item-flor {
  background-image: var(--bg-flex-img-flor);
  background-position: 5% 3%;
  background-repeat: no-repeat;
  display: block;
  align-items: center;
}

.flex-item-ajuda {
  background-image: var(--bg-flex-img-ajuda);
  background-position: 5% 3%;
  background-repeat: no-repeat;
  display: block;
  align-items: center;
}

/*=============== 
Flex-apoio
==================*/

.tratamentos > h2 {
  justify-content: center;
  text-align: center;
}

#flex-apoio {
  display: flex;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

@media screen and (max-width: 1200px){
  #flex-apoio{
    margin-top: 5vw;
    margin-bottom: 1vw;
  }
}


#flex-apoio2 {
  display: flex;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vw;
}

@media screen and (max-width: 990px){
  #flex-apoio2{
    margin-top: -5vw;
  }
}

.presente h2,
.reconhecer h2,
.julgamento h2,
.reduza h2 {
  font-family: var(--text-family);
  font-size: 3.5rem;
  font: bold;
  font-style: italic;
  color: var(--text-login);
  margin: 60px auto 30px;
}

.presente p,
.reconhecer p,
.julgamento p,
.reduza p {
  font-family: var(--text-family);
  font-size: 2rem;
  color: var(--hero-p);
  /* color: var(--text-login); */
  font-style: italic;
  margin: -30px auto 0px;
}

.flex-container-presente,
.flex-container-reconhecer,
.flex-container-julgamento,
.flex-container-reduza {
  width: 60rem;
  height: 20rem;
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0.5rem;
}

@media screen and (max-width: 1190px) {
  .flex-container-presente,
.flex-container-reconhecer,
.flex-container-julgamento,
.flex-container-reduza {
  width: 40rem;
  margin: 20px;

}
  
}



.flex-item-presente,
.flex-item-reconhecer,
.flex-item-julgamento,
.flex-item-reduza {
  background: var(--bg-flex);
  color: var(--bg-flex);
  font-size: 3rem;
  text-align: center;
  border-radius: 15px;
  border: 5px solid rgb(157, 157, 157);
  -webkit-transition: box-shadow .3s, border-color .3s;
  -moz-transition: box-shadow .3s, border-color .3s;
  -o-transition: box-shadow .3s, border-color .3s;
  -ms-transition: box-shadow .3s, border-color .3s;
  transition: box-shadow .3s, border-color .3s;
}


.flex-item-presente {
  background-image: var(--bg-flex-img-presente);
  background-position: 5% 3%;
  background-repeat: no-repeat;
  display: block;
  align-items: center;
}

.flex-item-reconhecer {
  background-image: var(--bg-flex-img-identifique);
  background-position: 5% 3%;
  background-repeat: no-repeat;
  display: block;
  align-items: center;
}

.flex-item-julgamento {
  background-image: var(--bg-flex-img-evite);
  background-position: 5% 3%;
  background-repeat: no-repeat;
  display: block;
  align-items: center;
}

.flex-item-reduza {
  background-image: var(--bg-flex-img-reduza);
  background-position: 5% 3%;
  background-repeat: no-repeat;
  display: block;
  align-items: center;
  height: 200px;
}

/*=============== 
Flex compartilhe
==================*/
#flex-compartilhe {
  display: flex;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: -5vh;
}

.compartilhe h2 {
  font-family: var(--text-family);
  font-size: 4rem;
  font: bold;
  font-style: italic;
  color: var(--text-login);
  margin: 60px auto 30px;
}

.compartilhe p {
  font-family: var(--text-family);
  font-size: 3rem;
  color: var(--hero-p);
  /* color: var(--text-login); */
  font-style: italic;
  margin: -30px auto 0px;
}

.flex-container-compartilhe {
  width: 60rem;
  height: 20rem;
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0.5rem;
}

.flex-item-compartilhe {
  /* background: var(--bg-flex); */
  color: var(--bg-flex);
  font-size: 3rem;
  text-align: center;
  border-radius: 15px;
  border: 5px solid rgb(157, 157, 157);
  -webkit-transition: box-shadow .3s, border-color .3s;
  -moz-transition: box-shadow .3s, border-color .3s;
  -o-transition: box-shadow .3s, border-color .3s;
  -ms-transition: box-shadow .3s, border-color .3s;
  transition: box-shadow .3s, border-color .3s;
}

.flex-item-compartilhe {
  background-image: var(--bg-flex-img-compartilhe);
  background-position: 5% 3%;
  background-repeat: no-repeat;
  display: block;
  align-items: center;
}


/*=============== 
footer
==================*/
footer {
  font-size: 1.8rem;
  margin: 1px auto 0px;
  padding: 1.5rem;
  text-align: center;
}

footer p {
  color: var(--text-login);
}

/*=============== 
tratamento
==================*/
#tratamento hr {
  height: 0.5rem;
  border: none;
  background-color: hsl(137, 93%, 24%);
  opacity: .5;
  width: 100%;
  margin: 30px auto;
}

.tratamentos h2 {
  color: var(--bg-menu);
  font-size: 4rem;
  padding: 1rem;
}

.tratamentos h3 {
  font-family: var(--text-family);
  font-size: 3rem;
  text-align: center;
  color: var(--hero-p);
  font-style: italic;
  padding: 1rem;
}

.tratamentos  p {
  font-size: 2.5rem;
  text-align: center;
  color: var(--bg-menu);
  font-style: italic;
  padding: 1rem;
}

.menu-pills {
  text-align: center;
  list-style: none;
  margin: 0;
  margin-left: -5px;
  padding: 2rem;
}

.menu-pills li {
  display: inline-block;
  list-style: none;
  margin: 5px 5px 5px 0;
  padding: 0;
}

.menu-pills a {
  font-size: 2rem;
  display: inline-block !important;
  font-weight: 600;
  letter-spacing: .02em;
  padding: 10px 25px;
  background: #e2f1e4;
  border-radius: 100px;
}

.menu-pills a:hover {
  color: hsl(133, 41%, 31%) !important;
  background: hsl(136, 86%, 81%);
  box-shadow: 0 0 20px rgba(140, 152, 164, .25);
}

.hentry .menu-pills a {
  text-decoration: none;
}

.menu-pills.menu-pills-block li,
.menu-pills.menu-pills-block a {
  display: block !important;
  width: 100% !important;
}